img {
    min-width: 50%;
    width: 200px;
    border: 2px solid black;
}

body {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 1em 2em;
}

h1, h2, p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 1em;
}

html {
    background-color: lightsteelblue;
}